html {
  scroll-behavior: smooth;
}
.mainnav {
  background-color: #006e53;
  width: 100%;
}
#sectionnav {
  margin-top: 20%;
  flex-direction: column !important;
}
.logos {
  background-color: rgba(220, 220, 220, 0.8);
  align-items: center;
}
img {
  min-width: 200px;
}
div {
  text-align: center;
}

.table {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  max-width: 90vw;

}
td, th {
  min-width: 6vw;
  max-width: 6vw;
  width: 6vw;
  overflow: hidden;
}
.row {
  flex-direction: row;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin: 1vh;
}
.sel {
  display: block;
}
#cht {
  overflow: auto;
  font-weigth: bold;
}
#pcht {
  overflow: auto;
  font-weigth: bold;
}
#dcht {
  overflow: auto;
}
.acreDrop, .acreDrop:hover, .acreDrop:active {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: black;
}
.offcanvas {

}
.stickyleft {
  position: absolute;
  height: 20vh;
  vertical-align: middle;
  border: 1px solid black;
}
