html {
  scroll-behavior: smooth;
}
.mainnav {
  background-color: #006e53;
  width: 100%;
}
#sectionnav {
  margin-top: 20%;
  flex-direction: column !important;
}
.test {
  display: flex;
}
.logos {
  background-color: rgba(220, 220, 220, 0.8);
  align-items: center;
}
div {
  text-align: center;
}

tr {
  min-width: 100%;
  display: inline-flex;
}  
td {
  min-width: 33.3%;
}
.table {
  overflow: auto;
  display: block;
  overflow-wrap: anywhere;
  position:  relative;
  table-layout: auto;
  max-height: 80vh;
}
.row {
  flex-direction: row;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin: 1vh;
}
.sel {
  display: block;
}
#cht {
  overflow: auto;
  font-weigth: bold;
}
#pcht {
  overflow: auto;
  font-weigth: bold;
}
.acreDrop, .acreDrop:hover, .acreDrop:active {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: black;
}
.box {
  background-color: rgba(220, 220, 220, 0.8);
}